<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StrategyGen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>
            Original text from <a href="https://twitter.com/swardley">Simon Wardley</a>: <a href="https://blog.gardeviance.org/2014/07/a-quick-route-to-building-strategy.html">A quick route to building a strategy</a>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a>. <a href="https://twitter.com/GerardThornley/status/1316273549049507843">
        </p>
            <p>

        Showed to me</a> by <a href="https://twitter.com/GerardThornley">Gerard Thornley</a>
        </p>
 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
